In [2]:
import pandas as pd

import numpy as np

In [3]:
tips = pd.read_csv('./2016-tips.csv')

In [4]:
tips

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Dad,Unnamed: 5,Mum,Unnamed: 7,Andrew,Unnamed: 9,...,Peter,Unnamed: 13,Erin,Unnamed: 15,Unnamed: 16,Winner,Margin,Score,Unnamed: 20,Unnamed: 21
0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24/3,Richmond,NaN,Carlton,Rich,1.0,Rich,1.0,Rich,1.0,...,Rich,1,Rich,1.0,NaN,Rich,9.0,92.0,83.0,NaN
2,26/3,Melbourne,NaN,GWS,GWS,0.0,GWS,0.0,Melb,1.0,...,Melb,1,GWS,0.0,NaN,Melb,2.0,80.0,78.0,NaN
3,26/3,Gold Coast,NaN,Essendon,Gold,1.0,Gold,1.0,Gold,1.0,...,Gold,1,Gold,1.0,NaN,Gold,61.0,121.0,60.0,NaN
4,26/3,North Melbourne,NaN,Adelaide,North,1.0,North,1.0,North,1.0,...,North,1,North,1.0,NaN,North,10.0,107.0,97.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,NaN,Grand Final,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,NaN,Bulldogs,NaN,Sydney,Syd,0.0,Syd,0.0,Syd,0.0,...,Bull,1,Syd,0.0,NaN,Bull,22.0,89.0,67.0,NaN
287,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN,...,2,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,NaN,Final total,NaN,NaN,144,NaN,152,NaN,152,NaN,...,146,NaN,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN